<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<amplify-authenticator>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Header</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-input placeholder="ToDo" [(ngModel)]="newTodo"></ion-input>
      <ion-button (click)="createTodo()">Add Todo</ion-button>
      <ion-button (click)="reloadTodos()">Reload</ion-button>
      <ion-list>
        <ion-item *ngFor="let item of todos">
          <ion-label>{{item.name}} - {{item.description}}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="item.status"></ion-checkbox>
          <ion-button fill="clear" (click)="deleteTodo(item.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <app-camera></app-camera>
      <amplify-sign-out></amplify-sign-out>
    </ion-content>
  </ion-app>
</amplify-authenticator>